<!DOCTYPE html>
<html lang="fr">
  <head>
    <title>Huahuazoa</title>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta name="description" content="Portfolio de Lucien Dartois, conçu avec Angularjs et la technologie SVG et CSS3."/>
    <meta name="keywords" content="SVG, Angularjs, Flat, Polygon, Portfolio, Lucien, Dartois, Design, Huahuazoa, CSS3, HTML5, OKLM"/>
    <meta name="robots" content="all"/>
    <meta name="rating" content="general"/>
    <meta property="og:title" content="Portfolio Lucien Dartois"/>
    <meta property="og:type" content="portfolio"/>
    <meta property="og:url" content="http://www.huahuazoa.com"/>
    <meta property="og:image" content="css/img/img-og.jpg"/>
    <link rel="icon" type="image/png" href="css/img/ico.png"/>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,600,700,300' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Neucha' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/angular-material/1.0.2/angular-material.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/angular-material/1.0.2/angular-material.layouts.min.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/angular.chartjs/latest/angular-chart.css"/>
    <link rel="stylesheet" href="css/style.css"/>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/1.0.2/Chart.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.0/angular.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.6/angular-route.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.6/angular-animate.min.js"></script>
    <script src="https://cdn.jsdelivr.net/angular.chartjs/latest/angular-chart.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-aria.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-messages.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-material/1.0.2/angular-material.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.9/angular-resource.js"></script>
    <script src="js/lb-services.js"></script>
    <script src="js/ion.sound.min.js"></script>
    <script src="js/app.js"></script>
    <script src="js/service/main.js"></script>
  </head>
  <body ng-app="Portfolio" class="body {{page}}">

    <div class="page {{pageClass}}" ng-cloak ng-view></div>

    <div ng-controller="menuNavCtrl" class='menu-nav'>
      <svg ng-click="showMenu()" class='menu-icon' ng-class="{'showmenu': isActive}" xmlns="http://www.w3.org/2000/svg" width="50" height="50" viewBox="0 0 50 50" ng-include="'element_menu/icon-menu.svg'"></svg>
      <a ng-class="{'showmenu': isActive}" ng-repeat="content in contents" href="{{content.link}}">
        <svg xmlns="http://www.w3.org/2000/svg" width="70" height="70" viewBox="0 0 100 100" data-ng-include src="content.url"></svg>
      </a>

      <svg ng-click="muteSound(isSound = true)" class="menu-sound" xmlns="http://www.w3.org/2000/svg" width="64" height="64" viewBox="0 0 64 64">
        <path ng-class="{'mute': Active}" fill="#fff" d="M36 16c-.72 0-1.374.265-1.89.69l-.01-.012-10.163 8.315H13.99V25c-1.65.006-2.99 1.346-2.99 3v10c0 1.657 1.343 3 3 3h10.024l10.21 7.426.006-.007c.496.36 1.1.58 1.76.58 1.657 0 3-1.343 3-3V19c0-1.657-1.343-3-3-3zm11.902 2.926l-2.846 2.847C47.52 24.853 49 28.75 49 33s-1.48 8.148-3.943 11.227l2.846 2.848C51.083 43.26 53 38.355 53 33c0-5.355-1.917-10.26-5.098-14.074z"/>
      </svg>
    </div>
  </body>

</html>
