<link href="templates/presentation/css/style.css" rel="stylesheet" type="text/css" />
<section ng-include="'templates/presentation/illustration/illuPres.svg'"></section>
<div class="huahuazoa">
  <svg xmlns="http://www.w3.org/2000/svg" width="125" height="125" viewBox="-0.441 0 107 102" ng-include="'css/img/logo.svg'"></svg>
    <div>
        <p ng-repeat="resume in resumes">{{resume.text}}</p>
    </div>
    <h1>Outils de développement.</h1>

    <div class="devtools" data-ng-repeat="dev in json.devs" style="width: 20vw; display: inline-block;">
        <canvas id="doughnut" class="chart chart-doughnut"
                chart-data="dev.data" chart-labels="dev.labels" chart-colours="dev.colours" chart-options ="options" chart-legend="legend">
        </canvas>
    </div>

    <h1>Outils graphique.</h1>


    <div class="graphtools" style="width: 80vw; margin: auto; padding-bottom: 1em;">
        <canvas id="polar-area" class="chart chart-polar-area"
                chart-data="dataGraph" chart-labels="labelsGraph" chart-colours="coloursGraph" chart-options ="optionsGraph" chart-legend="legendGraph">
        </canvas>
    </div>
    <h1>Entourage</h1>
    <div class="copain">
        <a ng-repeat="copain in copains" href="{{copain.link}}" target="_blank"><svg xmlns="http://www.w3.org/2000/svg" width="100" height="100" viewBox="0 0 100 100" data-ng-include src="copain.url"></svg></a>
    </div>
</div>
